# Spring Boot
backend/target/
backend/.mvn/
*.class

# Flutter / Mobile
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/build/

# Angular / Web
web/node_modules/
web/dist/
web/.angular/

# Docker
*.log

# IDE
.idea/
.vscode/
*.iml
